.dashMiningContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: 5rem 1fr;
    place-content: center;
}

.dashMiningContent {
    width: 90%;
    height: 80vh;

    border-radius: .5rem;

    align-self: center;
    place-self: center;
}

/* Animation for page fade in */
@keyframes fadein {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }

    1% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }

    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}

.dashMiningContent {
    animation: fadein 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.miningPageHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.miningPageHeader>h1 {
    text-align: center;
    font-size: 2.4rem;
}

.addHardwareTrigger {
    font-size: 4rem;
    text-align: center;
}

.hardwareBlock {
    position: relative;
    margin: 2rem auto;
    width: 90%;

    border-radius: .5rem;
    background-color: var(--Background-Color-Darker);

    display: grid;
    grid-template-columns: 2.5rem 1fr;
}

.cryptoColor {
    width: 100%;
    height: 100%;

    grid-row: 1 / span 2;

    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.hardwareContent {
    width: 100%;
    padding: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hardwareBlock>svg {
    position: absolute;
    bottom: 0px;
    left: 50%;
    right: auto;

    cursor: pointer;
}

.hardwareDetails {
    width: 100%;
}

.moreDetailsContainer {
    width: 100%;
    padding: 1rem 2rem 2rem;

    border-top: .1rem solid var(--CryptoBox-border);
}

.mobileStatusBall {
    width: 1.2rem;
    height: 1.2rem;

    border-radius: .5rem;
}

.desktopStatus {
    display: none;
}

/* More Details */
.moreDetailsContainer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
}

.moreDetailsContainer>.stopStartMiningBtn {
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--Offline-Status);
    color: var(--Main-White);
}

.totalGainsContainer {
    margin: 1rem 0;
    padding: 1.2rem;
    background-color: var(--Background-Color);
    border-radius: .5rem;
}

.totalGainsContainer>div>h3 {
    padding: .4rem 0;
    margin-bottom: .4rem;

    color: var(--Main-Green);
    border-bottom: 1px solid var(--CryptoBox-border);
}

.totalGainsContainer>div>h3>span {
    color: grey;
}

.stopStartMiningBtn {
    place-self: end;
    margin-bottom: 1rem;
}

/* Form Add Hardware */
.formAddHardware {
    margin-top: 1rem;
}

.formAddHardware>label {
    text-align: left;
    font-size: 1.6rem;
}

.formAddHardware>input {
    margin: 1rem 0;
    padding: .5rem;
    border-radius: .5rem;
    border: 0;
}

.formAddHardware>select {
    margin: 1rem 0;
}

.formAddHardware>input,
.selectOptionAddHardware {
    width: 20rem;
    padding: 1rem;
}

.addHardwareBtn {
    width: 15rem;
    margin-top: 3rem;
    padding: 1rem;
    border-radius: .5rem;
    border: 0;

    font-size: 1.6rem;

    background-color: var(--Main-Green);
    color: var(--Main-White);
}

@media (min-width: 1024px) {
    .dashMiningContainer {
        grid-template-columns: 1fr;
    }

    .dashMiningContent>h1 {
        font-size: 3rem;
    }

    .hardwareBlock {
        grid-template-columns: 4rem 1fr;
    }

    .hardwareDetails {
        width: 50%;
        font-size: 1.4rem;
    }

    .hardwareBlock {
        width: 80rem;
    }

    .mobileStatusBall {
        display: none;
    }

    .desktopStatus {
        padding-right: 1.5rem;
        display: block;
    }

    .moreDetailsContainer {
        grid-template-columns: .5fr auto;
        grid-template-rows: .5fr 1fr;
    }

    /* moreDetails elements */

    .hardwareSpecs {
        font-size: 1.4rem;
    }

    .totalGainsContainer {
        grid-column: 1 / span 2;
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 1.2rem;
    }

    .totalGainsContainer>div {
        font-size: 1.3rem;
        width: 50%;
        border-right: 1px solid var(--CryptoBox-border);
    }

    .totalGainsContainer>div>h3 {
        border-bottom: 0;
    }

    .totalGainsContainer>h2 {
        padding-right: 1.5rem;
    }

    /* Button */
    .stopStartMiningBtn {
        font-size: 2rem;

        grid-column: 2;
        grid-row: 1;
        place-self: end;
        align-self: start;
    }
}