.dashCurrencyContainer {
    display: grid;
    grid-template-columns: 5rem 1fr;
}

.dashCurrencyContent {
    overflow-y: scroll;
    width: 80%;
    height: 80vh;
    padding: 1.2rem;
    background-color: var(--Background-Color-Darker);
    border-radius: .5rem;

    align-self: center;
    place-self: center;

    -webkit-box-shadow: 0px 0px 8px -1px #000000;
    box-shadow: 0px 0px 8px -1px #000000;
}

.dashCurrencyContent>.tableHeader {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    border-bottom: 1px solid var(--CryptoBox-border);
}

.listCryptoData {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    border-bottom: 1px solid var(--CryptoBox-border);
}

.listCryptoData>h2:nth-child(1) {
    display: flex;
    align-items: center;
}

.listCryptoData>h2>img {
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}

.listCryptoData>h2:nth-child(2)>span {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.loadingContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: none;
}

.loadingWarning {
    font-size: 3rem;
}

@media (min-width: 1024px) {
    .dashCurrencyContainer {
        grid-template-columns: 7rem 1fr;
    }

    .dashCurrencyContent {
        max-width: 85rem;
    }

    .tableHeader {
        font-size: 1.5rem;
    }

    .listCryptoData {
        font-size: 1.6rem;
    }

    .listCryptoData>h2>img {
        margin-right: .7rem;
    }
}