@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;500&display=swap');

:root {
  /* *** Primary Colors *** */
  --Main-Green: #5AB553;
  --Main-White: #F4F4F4;
  --Background-Color: #181818;
  --Background-Color-Darker: #0A0A0A;

  /* Crypto Colors */
  --Bitcoin: #F7931A;
  --Ethereum: #F4F4F4;
  --Monero: #FF6600;

  /* ** Secondary Colors ** */
  --CryptoBox-border: #707070;
  --DevelopedBy-Bg-Color: #3E3E3E;
  --Offline-Status: #D32E2E;
  --Yellow: #FFE63A;

  /* Colors Supporters */
  --Binance: #f3ba2f;
  --Microsoft: #00A2ED;

  /* 1rem = 10x */
  font-size: 62.5%;
}

html,
body {
  font-family: 'Saira Condensed',
    sans-serif;
  background-color: var(--Background-Color);
  color: var(--Main-White);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 400;
}

button {
  font-family: 'Saira Condensed',
    sans-serif;
  border: none;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar,
::-moz-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* border-radius: 10px; */
  padding: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 5px;
  width: 5px;
  padding: 0 3px;
  background: #888;
  border-radius: 10px;

  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;

  padding: 0 3px;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  background-clip: padding-box;
}