@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;500&display=swap');

:root {
  /* *** Primary Colors *** */
  --Main-Green: #5AB553;
  --Main-White: #F4F4F4;
  --Background-Color: #181818;
  --Background-Color-Darker: #0A0A0A;

  /* ** Secondary Colors ** */
  --Bitcoin: #F7931A;
  --Ethereum: #F4F4F4;
  --Monero: #FF6600;
  --CryptoBox-border: #707070;
  --DevelopedBy-Bg-Color: #3E3E3E;
  --Offline-Status: #D32E2E;

  /* Colors Supporters */
  --Binance: #f3ba2f;
  --Microsoft: #00A2ED;

  /* 1rem = 10x */
  font-size: 62.5%;
}

html,
body {
  font-family: 'Saira Condensed',
    sans-serif;
  background-color: var(--Background-Color);
  color: var(--Main-White);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 400;
}

button {
  font-family: 'Saira Condensed',
    sans-serif;
  border: none;
  cursor: pointer;
}