/* .homepageContainer {
  z-index: 0;
} */

.headerContainer {
  padding: 3.5rem 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  width: 100%;
}

.headerContainer>.mobileMenuIcon {
  place-self: end;
  align-self: center;

  cursor: pointer;
}

.headerContainerMobile {
  overflow-y: scroll;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 200px 100px;

  width: 100vw;
  height: 100vh;
  padding: 3rem;

  z-index: 5;

  background-color: var(--Background-Color-Darker);
}

.headerLogo {
  font-size: 3rem;
  font-weight: 400;
  color: var(--Main-Green);
}

.headerContainerMobile>.headerLogo {
  display: none;
}

/* Hamburguer/Menu Icon */
.headerContainerMobile>.mobileMenuIcon {
  grid-column: 2;
}

.headerContainer>svg,
.headerContainerMobile>.mobileMenuIcon {
  margin-top: 1.5rem;
  place-self: end;
  align-self: start;

  cursor: pointer;
}

/* Header Links Nav */
.headerContainerMobile ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  place-items: center;

  grid-column: 1 / span 2;
  grid-row: 2;
}

.headerContainerMobile ul li {
  font-size: 2.4rem;
  font-weight: 400;

  text-transform: uppercase;
}

/* Login Button */
.loginButton,
.loginButtonDesktop {
  grid-column: 1 / span 2;
  grid-row: 3;
  place-self: center;

  padding: 1rem 5rem;

  border-radius: .7rem;
  text-transform: uppercase;
  font-size: 2rem;

  background-color: var(--Main-Green);
  color: var(--Main-White);
}

.loginButtonDesktop,
.navbarDesktop {
  display: none;
}

/* *** Responsive CSS media *** */

/* iPads/Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .headerContainer {
    width: 90%;
    margin: 0 auto;

    grid-template-columns: .5fr .5fr;
  }

  .loginButton {
    grid-row: 1;
    grid-column: 3;
  }

  /* Removes Mobile Menu Icon */
}

@media (min-width: 1024px) {
  .headerContainer {
    width: 90%;
    margin: 0 auto;

    grid-template-columns: 150px 300px 1fr;
  }

  .navbarDesktop {
    display: flex;
    justify-content: space-evenly;
    place-items: center;

    font-size: 2rem;
    text-transform: uppercase;
  }

  .loginButtonDesktop {
    display: block;
    grid-column: 3;
    grid-row: 1;
    place-self: end;
  }

  .mobileMenuIcon {
    display: none;
  }
}