/* .homepageContainer {
  z-index: 0;
} */

.headerContainer {
  padding: 3.5rem 0rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  width: 90%;
  margin: 0 auto 5rem;
}

.headerContainer>.mobileMenuIcon {
  place-self: end;
  align-self: center;

  cursor: pointer;
}

.headerContainerMobile {
  overflow-y: scroll;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 200px 100px;

  width: 100vw;
  height: 100vh;
  padding: 3rem;

  z-index: 5;

  background-color: var(--Background-Color-Darker);
}

.headerLogo {
  font-size: 3rem;
  font-weight: 400;
  color: var(--Main-Green);
}

.headerContainerMobile>.headerLogo {
  display: none;
}

/* Hamburguer/Menu Icon */
.headerContainerMobile>.mobileMenuIcon {
  grid-column: 2;
}

.headerContainer>svg,
.headerContainerMobile>.mobileMenuIcon {
  margin-top: 1.5rem;
  place-self: end;
  align-self: start;

  cursor: pointer;
}

/* Header Links Nav */
.headerContainerMobile ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  place-items: center;

  grid-column: 1 / span 2;
  grid-row: 2;
}

.headerContainerMobile ul li {
  font-size: 2.4rem;
  font-weight: 400;

  text-transform: uppercase;
}

/* Login Button */
.loginButton,
.loginButtonDesktop {
  grid-column: 1 / span 2;
  grid-row: 3;
  place-self: center;

  padding: 1rem 5rem;

  border-radius: .7rem;
  text-transform: uppercase;
  font-size: 2rem;

  background-color: var(--Main-Green);
  color: var(--Main-White);
}

.loginButtonDesktop,
.navbarDesktop {
  display: none;
}

.navbarDesktop li a:hover {
  color: var(--Main-Green);
}

/* *** Responsive CSS media -> Header *** */

/* iPads/Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .headerContainer {
    width: 90%;
    margin: 0 auto;

    grid-template-columns: .5fr .5fr;
  }
}

@media (min-width: 1024px) {
  .headerContainer {
    width: 90%;
    margin: 0 auto 10rem;

    grid-template-columns: 150px 400px 1fr;
  }

  .navbarDesktop {
    display: flex;
    justify-content: space-evenly;
    place-items: center;

    font-size: 2rem;
    text-transform: uppercase;
  }

  .loginButtonDesktop {
    display: block;
    grid-column: 3;
    grid-row: 1;
    place-self: end;
  }

  .mobileMenuIcon {
    display: none;
  }
}

/* Desktop Screensize */
@media (min-width: 1440px) and (max-width: 2560px) {
  .headerContainer {
    width: 80%;
    margin: 0 auto 10rem;
  }
}

/* Widescreen/4k */
@media (min-width: 2560px) {
  .headerContainer {
    width: 75%;
    margin: 0 auto 10rem;
  }
}

/* !!! */
/* ***** Index Page Main Content ***** */
/* !!! */
.mainTag {
  width: 100%;
  margin: 0rem auto;

  text-align: center;
}

.getStartedContainer {
  margin-bottom: 20rem;
}

.getStartedContent>h1 {
  margin: 0 auto 2.5rem;

  max-width: 28.5rem;
  font-size: 3rem;
  font-weight: 400;
}

.getStartedBtn {
  padding: 1rem 5rem;
  margin-bottom: 7rem;

  border-radius: .7rem;
  text-transform: uppercase;
  font-size: 2rem;

  background-color: var(--Main-Green);
  color: var(--Main-White);
}

/* *** Responsive CSS media -> Main | "Get Started" *** */

/* iPads/Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .headerContainer {
    width: 90%;
    margin: 0 auto 5rem;

    grid-template-columns: .5fr .5fr;
  }

  .getStartedContent>h1 {
    /* width: 0; */
    margin: 0 auto 2.5rem;
  }

  .pickaxeSvg {
    width: 60%;
  }
}

/* Small/Laptops */
@media (min-width: 1024px) and (max-width: 1440px) {
  .getStartedContainer {
    width: 90%;
    margin: 0 auto 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .getStartedContent {
    max-width: 50rem;
    text-align: left;
  }

  .getStartedContent>h1 {
    max-width: 50rem;
    font-size: 4rem;
  }

  .pickaxeSvg {
    width: 32rem;
  }
}

/* Desktop Screensizes */
@media (min-width: 1440px) and (max-width: 2560px) {
  .getStartedContainer {
    width: 80%;
    margin: 0 auto 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .getStartedContent>h1 {
    max-width: 50rem;
    font-size: 4rem;
  }

  .pickaxeSvg {
    width: 32rem;
  }
}

@media (min-width: 2560px) {
  .getStartedContainer {
    width: 75%;
    margin: 0 auto 25rem;
  }

  .getStartedContent>h1 {
    max-width: 50rem;
    font-size: 4rem;
  }

  .pickaxeSvg {
    width: 32rem;
  }
}

/* *** "Choose your Crypto" *** */
.divHeaderTitle {
  /* margin-bottom: 10rem; */
  font-size: 3rem;
  font-weight: 400;
}

.andManyMore {
  margin-bottom: 20rem;
  font-size: 2rem;
  font-weight: 400;
}

.cryptoBox {
  position: relative;
  width: 18rem;
  height: 20rem;
  margin: 8rem auto;
  padding-top: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 1rem;
  border: 1px solid var(--CryptoBox-border);
}

.cryptoBox h3,
.cryptoBox p {
  font-weight: 400;
}

.cryptoBox h3 {
  font-size: 3rem;
}

.cryptoBox p {
  font-size: 2.4rem;
}

.cryptoBox svg {
  position: absolute;
  bottom: -30px;
}

/* *** Responsive CSS media -> Main | "Choose your Crypto" *** */

@media (min-width: 768px) {
  .chooseCryptoContainer {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
  }

  /* Bitcoin */
  .chooseCryptoContainer div:nth-child(1) {
    grid-column: 2;
  }

  .chooseCryptoContainer div:nth-child(1)>svg {
    width: 140px;
    height: 140px;
    bottom: -60px;
  }

  /* Ethereum */
  .chooseCryptoContainer div:nth-child(2) {
    width: 17rem;
    height: 18.5rem;
    grid-column: 1;
    grid-row: 1;
  }

  .chooseCryptoContainer div:nth-child(2)>svg,
  .chooseCryptoContainer div:nth-child(3)>svg {
    bottom: -25px;
    width: 100px;
    height: 100px;
  }

  /* Monero */
  .chooseCryptoContainer div:nth-child(3) {
    width: 17rem;
    height: 18.5rem;
    grid-column: 3;
    grid-row: 1;
  }
}

/* *** "Developed by a group of..." *** */
.developedByContainer {
  width: 90%;

  padding: 3rem 0;
  margin: 0 auto 15rem;

  text-transform: uppercase;

  border-radius: 5px;
  background-color: var(--DevelopedBy-Bg-Color);
}

.developedByContainer>h1 {
  font-weight: 400;
}

.developedByContainer>h1>span {
  text-decoration: underline;
  font-size: 2.5rem;
}

.developedByContainer>h1>span:hover {
  color: var(--Main-Green);
}

.aboutPresentation>svg {
  width: 90%;
  height: 40rem;
  margin: 2rem 0;
}

.aboutPresentation>p {
  max-width: 90%;
  margin: 0 auto;
  font-size: 1.8rem;
  text-align: center;
  text-transform: initial;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .aboutPresentation {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .aboutPresentation>svg {
    width: 50%;
    margin: 2rem auto;
  }

  .aboutPresentation>p {
    max-width: 40%;
    font-size: 2.4rem;
  }
}

@media (min-width: 1024px) {
  .aboutPresentation {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .aboutPresentation>svg {
    width: 50%;
    margin: 2rem auto;
  }

  .aboutPresentation>p {
    text-align: left;
    max-width: 50%;
    font-size: 2.4rem;
  }
}

@media (min-width: 1440px) {
  .developedByContainer {
    max-width: 120rem;
  }

  .aboutPresentation>p {
    text-align: left;
    max-width: 50%;
  }
}

/* *** Our Supporters *** */
.ourSupportersContainer {
  margin-bottom: 20rem;
}

.ourSupportersContainer>h1 {
  font-size: 3rem;
  font-weight: 400;
}

.ourSupportersContent {
  margin-top: 8rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px 100px;
  place-items: center;
  gap: 3rem;
  justify-content: center;
}

.ourSupportersContent>div>h2 {
  margin-top: .3rem;
  font-size: 2rem;
  font-weight: 400;
}

.ourSupportersContent>div:nth-child(1)>svg {
  fill: var(--Binance);
}

.ourSupportersContent>div:nth-child(3)>svg {
  fill: var(--Microsoft);
}

@media (min-width: 768px) {
  .ourSupportersContent {
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 1fr;
    gap: 6rem;
  }
}